In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# load student performance raw data
df = pd.read_csv('https://raw.githubusercontent.com/akwasianing/Assignment_1/refs/heads/main/student_performance_project/data_raw/raw_studentsperformance_data.csv')
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [ ]:
# check size of data (number of rows and columns)
df.shape

(1000, 8)

In [ ]:
# # Check data types
print(df.dtypes)

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
# check for missing values
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
# check for duplicate rows
df.duplicated().sum()

0

In [ ]:
# function to identify outliers based on the IQR method
def grap_outliers(df):
  q1 = df.quantile(0.25)
  q3 = df.quantile(0.75)
  iqr = q3 - q1
  outliers = df[((df<(q1-1.5*iqr)) | (df>(q3+iqr*1.5)))]
  return outliers

for column in df[['math score', 'reading score', 'writing score']]:
  outliers = grap_outliers(df[column])
  print(f'Number of outliers in {column}: {len(outliers)}')

Number of outliers in math score: 8
Number of outliers in reading score: 6
Number of outliers in writing score: 5

In [ ]:
# return lower and upper bounds based on the IQR method and store the bounds
def grap_outliers(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    return lower_bound, upper_bound

for column in df[['math score', 'reading score', 'writing score']]:
    lower_bound, upper_bound = grap_outliers(df[column])
    outlier_info[column] = {'lower_bound': lower_bound, 'upper_bound': upper_bound}

In [ ]:
# Function to remove outliers based on stored bounds
def remove_outliers(df, outlier_info):
    df_cleaned = df.copy()

    for column, values in outlier_info.items():
        lower_bound = values["lower_bound"]
        upper_bound = values["upper_bound"]
        df_cleaned = df_cleaned[(df_cleaned[column] >= lower_bound) & (df_cleaned[column] <= upper_bound)]

    return df_cleaned  # Return the cleaned dataset

df_cleaned = remove_outliers(df, outlier_info)
print(f"Original dataset size: {df.shape[0]} rows")
print(f"Cleaned dataset size: {df_cleaned.shape[0]} rows")

Original dataset size: 1000 rows
Cleaned dataset size: 988 rows

In [ ]:
# save the cleaned dataset
df_cleaned.to_csv("cleaned_studentsperformance_data.csv", index=False)